input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 10px 10px 10px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.5;
  zoom: 0.9;
  /*transition: opacity 200ms 1s;*/
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.9;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.25;
  zoom: 0.9;
  /*transition: opacity 500ms 1s;*/
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

.panel_visible{
  display: inline;
}

.panel_invisible{
  display: none;
}

.button_huge{
  background: #FFFFFF;
  width: 180px;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  display: inline;
  float: left;
  margin: 6px;
}

.button_huge:hover{
  background: #EDEFF2;
}


.button_normal{
  background: #FFFFFF;
  width: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  display: inline;
  float: left;
  margin: 6px;
}
.button_normal:hover{
  background: #EDEFF2;
}

.button_incorrect{
  background: crimson;
  width: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  display: inline;
  float: left;
  margin: 6px;
}

.button_incorrect:hover{
  background: #e8516d;
}

.button_correct{
  background: #57dc14;
  width: 90px;
  vertical-align: middle;
  text-align: center;
  padding: 6px 12px;
  display: inline;
  float: left;
  margin: 6px;
}

.button_correct:hover{
  background: #a0ff6f;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
