
body{
  font-family: Avenir;
}

/*titebar*/
h1{
  font-family: Avenir; 
  font-size: 40px;
  text-align: center; 
  font-weight: bold;
}

/*subtitle*/
h2{
  font-family: Avenir;
  font-size: 20px;
  text-align: center; 
  font-style: italic;
}

/*buttons*/
h3{
  font-family: Avenir; 
  font-size: 16px; 
  font-weight: bold;
  text-align: center; 
}

/*category names*/
h4{
  font-family: Avenir; 
  font-size: 16px;
  text-align: center; 
  color: white;
}

/*titlebar small*/
h5{
  font-family: Avenir;
  font-size: 26px;
  text-align: center;
  color: #1DBCB4;
}

/*description of game*/
h6{
  font-family: Avenir;
  font-size: 14px;
  font-weight: lighter;
  text-align: center; 
  line-height: 1.4;
  color: #1DBCB4;
}

p.rank-list-title{
  font-size: "100px";
  font-family:  "Georgia, serif";
}

/*whole sidebar
.well{
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.25),
    0 1px 0 rgba(255, 255, 255, 0.25) inset,
    0 0 0 rgba(0, 0, 0, 0.5) inset,
    0 1.25rem 0 rgba(255, 255, 255, 0.08) inset,
    0 -1.25rem 1.25rem rgba(0, 0, 0, 0.3) inset,
    0 1.25rem 1.25rem rgba(255, 255, 255, 0.1) inset;
  height: 880px
}*/

/*cyan box*/
.namelist .rank-list-container.default-sortable.column_1{
  background-color: #1DBCB4
}

.buckets .rank-list-item{
  min-height: 0;
  max-height: 40%;
  overflow: auto;
  background-color: transparent; 
  border-color: transparent;
  display:none;
}

.buckets .rank-list-item.active{
  display:block;
}

.buckets .rank-list-empty{
  min-height: 80px; 
  background-color: transparent; 
  /*color: #1DBCB4; */
  border-color: transparent; 
  border: 1.5px dashed #1DBCB4; 
  border-radius: 0
}

/*dark blue box*/
.rank-list-container.default-sortable.column_1{
  background-color: #304D80
}

/*purple box*/
.rank-list-container.default-sortable.column_2{
  background-color: #974D9D
}

/*pink box*/
.rank-list-container.default-sortable.column_3{
  background-color: #D5A6BD
}

/*red box*/
.rank-list-container.default-sortable.column_4{
  background-color: #FB4D42
}

/*yellow box*/
.rank-list-container.default-sortable.column_5{
  background-color: #FDB34E
}

.modal-dialog {
  top: 30%;
}

#bucket-list { 
  width: 100%;
}